* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: General Sans, sans-serif;
    color: #110A5E;
    border: none;
}

input, label {
    display: block;
    width: 100%;
}

input:focus, label:focus {
    outline: none;
}

body {
    background-color: #EBEDF0;
}

.header-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 11vh;
}

#logo {
    font-size: 30px;
    position: absolute;
    font-weight: 600;
    top: 22px;
    left: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }

  #account-text {
    font-size: 14px;
    position: absolute;
    top: 30px;
    left: 1135px;
  }

  span {
    font-weight: 600;
  }

  a {
    text-decoration: none;
  }

.main-container {
    position: relative;
    width: 97%;
    height: 86vh;
    border-radius: 22px;
    padding: 38px;
    background-color: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    margin-bottom: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
}

form {
    display: flex;
    flex-wrap: wrap; /*alinhar elementos do form da maneira que quiser: 1 em uma linha, 2 em uma linha */
    justify-content: space-between; /*criar um pequeno espaço entre os elementos na mesma linha */
    width: 614px;
    margin-left: auto;
    margin-right: auto;
}

.full-box {
    flex: 1 1 100%;
    position: relative;
}

.half-box {
    flex: 1 1 49%;
    position: relative; /*já preparando para elementos com position absolute terem ele como referência */
}

.spacing {
    margin-right: 1%;
}

input {
    border: 1px solid #D4DADB;
    border-radius: 8px;
    padding: 10px;
    font-size: 19px;
    background: none;
    margin-bottom: 40px;
}

label {
    font-size: 14px;
}

input[type="submit"] {
    width: 103px;
    height: 35px;
    background-color: #110A5E;
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#newsletter #terms{
    margin-right: 5px;
}

#newsletter, #newsletter-label, #terms, #terms-label {
    display: inline-block;
    width: auto;
}


